:root {
  --primary: #eeeff0;
  /* --secondary: #cc1e1e;
  --neutral-light: #c2b9c2;
  --neutral-dark: #494850;
  --hover: #1565c0;
  --background: #f3f0f0; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  width: 1200px;
  margin: 20px auto;
  text-align: center;
}

.btn {
  color: #000 !important;
  transition: 1s;
}

.btn:hover {
  transition: 2s;
  transform: scale(1.1);
}
